 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px/15px Arial, Helvetica, sans-serif; COLOR: #666; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none; outline: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 0
}
.welcomeTxt {
	FONT: 18px/28px Arial, Helvetica, sans-serif; COLOR: #ac4c2a; BACKGROUND-COLOR: #fad9cd
}
.topPadd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 200px; PADDING-TOP: 200px
}
#container {
	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-TOP: 20px
}
.padd1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
.breadcrumb {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; FONT: bold 12px/16px Arial, Helvetica, sans-serif; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; COLOR: #323232; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #f4f4f4
}
.breadcrumb LI {
	FLOAT: left; MARGIN: 0px 5px 0px 0px
}
.breadcrumb LI A {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; COLOR: #f3531f
}
.breadcrumb LI A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.lblTxt {
	FLOAT: left; FONT: bold 12px/16px Arial, Helvetica, sans-serif
}
.txt1 {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; FONT: 12px Arial, Helvetica, sans-serif; WIDTH: 200px; COLOR: #333
}
.padd2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.headTxt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; BACKGROUND: url(../images/blue_arrow.gif) no-repeat 0px 0px; PADDING-BOTTOM: 20px; FONT: bold 18px/25px "Century Gothic", Arial, Helvetica, sans-serif; COLOR: #1890a2; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.txt2 {
	FONT: 12px Arial, Helvetica, sans-serif; WIDTH: 100px; COLOR: #333
}
.padd3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
.thumbImg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../images/thumb_img_icon.gif) no-repeat 0px 2px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 40px; FONT: bold 12px/16px Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
.addImg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(../images/paper_pin.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 30px; FONT: bold 12px/18px Arial, Helvetica, sans-serif; COLOR: #f3531f; PADDING-TOP: 3px; TEXT-DECORATION: underline
}
.addImg:hover {
	COLOR: #999; TEXT-DECORATION: none
}
.dropList {
	FLOAT: left; MARGIN: 0px 5px 0px 10px; FONT: 12px/16px Arial, Helvetica, sans-serif; WIDTH: 160px; COLOR: #666
}
.labelTxt {
	FLOAT: left; MARGIN: 0px 0px 5px 8px; FONT: 12px/15px Arial, Helvetica, sans-serif; COLOR: #333
}
.lft {
	FLOAT: left; MARGIN: 0px 0px 0px 40px
}
.lblTxt2 {
	FLOAT: left; FONT: bold 12px/16px Arial, Helvetica, sans-serif; WIDTH: 200px
}
.lblTxt3 {
	FLOAT: left; FONT: bold 12px/16px Arial, Helvetica, sans-serif; WIDTH: 260px
}
.padd4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.lft2 {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.marg1 {
	MARGIN: 0px 0px 15px
}
.padd5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 50px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.marg2 {
	MARGIN: 0px 0px 0px 150px
}
.reqTxt {
	COLOR: #ff0000
}
.whiteBg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #fff
}
.lblTxt4 {
	FONT: bold 12px/16px Arial, Helvetica, sans-serif
}
.dropList2 {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; FONT: 12px/16px Arial, Helvetica, sans-serif; WIDTH: 160px; COLOR: #666
}
.lblTxt5 {
	FLOAT: left; FONT: bold 12px/16px Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.marg3 {
	MARGIN: 0px 0px 0px 10px
}
.desTxt {
	FLOAT: left; MARGIN: 0px 0px 10px; FONT: 12px/15px Arial, Helvetica, sans-serif; WIDTH: 300px; COLOR: #333; HEIGHT: 100px
}
.width1 {
	FLOAT: left; WIDTH: 120px
}
.marg4 {
	FLOAT: left; MARGIN: 0px 60px 5px 0px
}
.existHead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 100px; PADDING-BOTTOM: 0px; FONT: bold 13px/16px Arial, Helvetica, sans-serif; COLOR: #ff2000; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.existHead LI {
	FLOAT: left; MARGIN: 0px 30px 0px 0px
}
.existingList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.existingList LI {
	FLOAT: none; MARGIN: 0px 0px 4px
}
.existingList LI SPAN.num {
	FLOAT: left; WIDTH: 20px
}
.existingList LI SPAN.listDet {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100px
}
.existingList LI SPAN.listDet1 {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 150px
}
.optionNam {
	FONT: 12px Arial, Helvetica, sans-serif; WIDTH: 180px; COLOR: #333
}
.descBox {
	FONT: 12px Arial, Helvetica, sans-serif; WIDTH: 250px; COLOR: #333
}
.loadBar {
	POSITION: relative
}
.loadBar SPAN.loadImg {
	LEFT: 250px; POSITION: absolute; TOP: 2px
}
