<!
-- body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:hover
{
	color: #333333;
	text-decoration: underline;
}
a:link
{
	text-decoration: none;
}
a:visited
{
	text-decoration: none;
}
a:active
{
	text-decoration: none;
}
.nav-heading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FF6600;
}
.search-text-orange
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF6600;
}
.body-text-orange
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
}
.body-text-dark12
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.body-text-dark
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
}
.header_currency
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF1D4;
}
.nav-item
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF1D4;
}
.footer-copyright
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF1D4;
}
.style1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	font-weight: normal;
}
h1
{
	font-size: 11px;
}
h2
{
	font-size: 12px;
}
h1, h2, h3, h4, h5, h6
{
	font-family: Tahoma;
}
.style4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #330000;
	font-weight: bold;
}
.style6
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.errTxt
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C32411;
	font-weight: bolder;
}



-- >